<launch>
  <!--Kinova Jaco Launch-->
  <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
    <arg name="kinova_robotType" value="j2s7s300"/>
  </include>
  <!--Moveit Launch-->
  <include file="$(find j2s7s300_moveit_config)/launch/j2s7s300_demo.launch"/>
    <rosparam command="load" file="$(find dabot)/config/params.yaml" />
    <node pkg="matt_tools" type="remapJointState.py" name="remapJointState" />    
</launch>